@tailwind base;
@tailwind components;
@tailwind utilities;

.body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    font-size: 1.5em;
    color: #ffffff;
}

.header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.nav {
    align-items: left;
    text-align: left;
    background-color: #444;
    color: #fff;
    padding: 10px;
}

.main {
    background-color: #444;
    padding: 10px;
    align-items: center;
    text-align: center;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.card {
    width: 150px;
    padding: 10px;
    border-radius: 10px;
    background: rgba(232, 148, 3, 0.786);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.contenedor-cards {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;

}